body {
   
}

h1 {
    padding-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Element {
    border-width: medium;
    padding-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#Generate {
    background-color: rgb(46, 37, 37);
}
